streamlit
python-dotenv
PyPDF2==3.0.1
langchain>=0.2.9
langchain-community>=0.1.0
langchain-google-genai>=1.0.7
faiss-cpu
google-generativeai
google-auth
google-auth-httplib2
google-api-python-client
requests
numpy
pandas
